// List of parameters

executor {
  name = "slurm"
  queueSize = 30
}


process {
  // Global cluster parameters
  executor = 'slurm'
  queue = 'normal'
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

}

params {
  max_memory = 1500.GB
  max_cpus = 40
  max_time = 220.h
}

singularity {
	enabled = true 
	runOptions = "-B /mnt"
	cacheDir = "/mnt/lv_userdirs/references/singularity_cache"
}
