process {

  // Global cluster parameters

  cpus = 1
  memory = 4.GB
  time = 1.h

  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

  withName:Flye {
        cpus = { check_max(params.max_cpus, 'cpus') }
        memory = { check_max(64.GB * task.attempt, 'memory') }
        time = { check_max(96.h * task.attempt, 'time') }
  }

  withName:BamToFastq {
        cpus = { check_max(2, 'cpus') }
        memory = { check_max(8.GB * task.attempt, 'memory') }
        time = { check_max(48.h * task.attempt, 'time') }
  }

  withName:BamToCCS {
        cpus = { check_max(16, 'cpus') }
        memory = { check_max(16.GB * task.attempt, 'memory') }
        time = { check_max(120.h * task.attempt, 'time') }
  }
  withName: CcsMerge {
        cpus = { check_max(8, 'cpus') }
        memory = { check_max(64.GB * task.attempt, 'memory') }
        time = { check_max(48.h * task.attempt, 'time') }
  }

  withName: nanoQC {
	cpus = { check_max(2, 'cpus') }
        memory = { check_max(16.GB * task.attempt, 'memory') }
        time = { check_max(72.h * task.attempt, 'time') }
  }
  withName: KatGCP {
	cpus = { check_max(8, 'cpus') }
        memory = { check_max(16.GB * task.attempt, 'memory') }
        time = { check_max(72.h * task.attempt, 'time') }
  }

  withName: Busco {
	cpus = { check_max(8, 'cpus') }
        memory = { check_max(16.GB * task.attempt, 'memory') }
        time = { check_max(24.h * task.attempt, 'time') }
  }

  withLabel: busco {
	container = "docker://quay.io/biocontainers/busco:4.0.6--pyr36_0"
  }
 
  withLabel: pbccs {
	container = "docker://quay.io/biocontainers/pbccs:4.2.0--1"
  }

  withLabel: flye {
	container = "docker://quay.io/biocontainers/flye:2.7.1--py37h4ef193e_1"
  }

  withLabel: samtools {
	container = "docker://quay.io/biocontainers/samtools:1.10--h9402c20_2"
  }
 
  withLabel: bam2fastx {
	container = "docker://quay.io/biocontainers/bam2fastx:1.3.0--he1c1bb9_8"
  }

  withLabel: nanoqc {
	container = "docker://quay.io/biocontainers/nanoqc:0.9.4--py_0"
  }

  withLabel: pbbam {
	container = "docker://quay.io/biocontainers/pbbam:1.3.0--h5b7e6e0_1"
  }
  
  withLabel: gaas {
	container = "docker://quay.io/biocontainers/gaas:1.2.0--pl526r35_0"
  }

  withLabel: kat {
	container = "docker://quay.io/biocontainers/kat:2.4.2--py36he1b856b_0"
  }

  withLabel: nanoplot {
	container = "docker://quay.io/biocontainers/nanoplot:1.30.1--py_0"
  }
}
